<%= form_with model: @todo, local: true do |form| %>

<div class="field">
  <%= form.label :description, "Description" %>
  <%= form.text_field :description %>
</div>

<div class="field">
  <%= label :completed, "Completed", value: true %>
  <%= form.radio_button :completed, true,:checked => @valueT, :value => true  %>
</div>

<div class="field">
  <%= label :completed, "No Completed", value: false %>
  <%= form.radio_button :completed, false, :checked => @valueF, :value => false  %>
</div>

<div class="field">
  <%= form.submit "Save", :class => 'btn btn-primary' %>
</div>


<div class="field">
	<%= link_to ' ', todos_path, :class => 'btn btn-info glyphicon glyphicon-chevron-left' %></td>  
</div>
<% end %>
