<h1>TO-DO LIST</h1>

<%= link_to 'New To-do', todos_new_path , :class => 'btn btn-default' %>

<table class="table table-well">
  <thead>
    <tr>
      <th>Description</th>
      <th>completed</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @todos.each do |todo| %>
      <tr>
        <td><%= todo.description %></td>
        <td><%= todo.completed %></td>
        <td><%= link_to 'Completed To-do', completed_path(todo), :class => 'btn btn-info' %></td>
        <td><%= link_to 'Show To-do', todo, :class => 'btn btn-primary' %></td> 
        <td><%= link_to 'Edit To-do', edit_path(todo), :class => 'btn btn-warning' %></td>     
        <td><%= link_to 'Delete To-do', todo, method: :delete,data: { confirm: 'Are you sure?' }, :class => 'btn btn-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
